@model HotelApplication.ViewModels.RoomsAdminIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h3 class="display-4">Booking List</h3>
    <div class="row">

        @foreach (var roomType in Model.RoomTypes as IEnumerable<RoomType>)
        {
            <div class="col-md-4 ">
                <div class="card mb-4 shadow-sm ">
                    <div class="card-body p-4">
                        <h4 class="card-title">@roomType.RoomTypeName</h4>
                        <div class="col-md-12 p-0">
                            @foreach (var room in Model.Rooms as IEnumerable<Room>)
                            {
                                if (roomType.RoomTypeName == room.RoomType.RoomTypeName)
                                {
                                    <div class="btn-group" style="padding:5px">
                                        <a asp-action="Details" asp-controller="Booking" asp-route-id="@room.Id"
                                           class="btn btn-sm btn-secondary">@room.RoomNumber</a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>